[2015-02-17 21:05] jability opened #1 "Inconsistencies with function implementation"
Hi,

I've noticed some errors when implementing functions:
For instance with this class:
[code]
Generating getters and setter do not work.

In addition, generating class implementation gives:
[code]
As you can see, the *copy constructor* and the *operator overloading* are all screwed up.
Thank you for taking a look !

By the way, just wanted to say impressive work so far, can't tell you how excite

[2015-02-17 23:31] tuhdo commented on #1
Thank you for your wonderful report that helps improving this package. I've fixed it. Could you check it again?

[2015-02-18 14:03] tuhdo commented on #1
@jability I also implemented constant member initialization for constructors when a class contains any. However, the value is empty for user to fill in because usually user fills other values anyway.

[2015-02-19 11:11] tuhdo commented on #1
@jability Now it should handle all operators and functions properly, even friend functions. You can use this example to test:

[code]

[2015-02-19 11:54] jability commented on #1
@tuhdo Yes ! It works perfectly.
I think I found a few issues but I'm not on my usual computer so I'll report back later. Thanks

[2015-02-23 03:00] zbelial opened #2 "error with emacs pre 24.4"
subr-x is a new built-in library in emacs 24.4, so srefactor can't be used in emacs pre 24.4.
A declaration about this in Readme is much better.

[2015-02-24 14:02] tuhdo commented on #2
Thanks about that. I will fix it soon.

[2015-02-24 14:12] #2 closed

[2015-02-24 14:13] tuhdo commented on #2
@zbelial I fixed it. Thanks for your report. It will future users.

[2015-02-24 16:34] tuhdo commented on #2
Actually there's more problem with Emacs 24.3 than that, since CEDET is less functional than current Emacs 24.4. So I added a note that explicitly states Semantic Refactor only supports Emacs 24.4 or above at the moment.

[2015-03-10 21:04] morbidrsa opened #3 "srefactor-refactor-at-point failing with error message"
srefactor-refactor-at-point is failing with an error message. When I want to extract a region to a function, I get the following error message:

I'm using Emacs 24.4.1 from openSUSE Tumbleweed and semantic-refactor from MELPA.

I'd be thankful for any advice,
Johannes

[2015-03-11 03:26] tuhdo commented on #3
Thank you for your report. I know where it fails. It is the result of some refactoring I did a while ago. I will fix it asap. I really need to write a test suite for regression testing.

[2015-03-11 08:36] MatthewBregg opened #4 "No available action"
After performing a rename once/twice, I pretty consistently get No available action. when I try to srefactor-refactor-at-point.
This happens across various files C++ files.

[2015-03-11 08:39] #3 closed

[2015-03-11 08:39] tuhdo commented on #3
@morbidrsa I fixed it. Please check it again. Thanks.

[2015-03-11 09:15] tuhdo commented on #4
Do you have any functions that have the same name as your local variables?

[2015-03-11 09:17] tuhdo commented on #4
It's not related, nvm.

[2015-03-11 09:25] #4 closed

[2015-03-11 09:25] tuhdo commented on #4
@MatthewBregg Thanks for your report. I fixed it.

[2015-03-11 11:23] #1 closed

[2015-03-11 14:18] morbidrsa commented on #3
Works with current HEAD, thanks for resolving :-)

[2015-03-11 15:40] MatthewBregg opened #5 "Refactoring rename does not seem to rename function parameters."
Example:
(C++)
int factorial(int n){
    if(n == 1){return 1;}
    return n*factorial(n-1);
}
Attempting to rename n to say foo leaves the int n argument unchanged.

Also, would it be possible to get the ability to rename functions?

Thanks for this great tool, it's looking great so far!

[2015-03-11 15:50] tuhdo commented on #5
Hi,

Thanks for the report. I will look into it.

If it's just local rename, then it's possible. For global rename, also doable but it would block Emacs because if you have large source tree then it would take too long and block Emacs. Actually, rename references are available with `semantic-symref` by running the command on a symbol, wait it gather and display the references, then press <kbd>R</k

[2015-03-11 16:58] MatthewBregg commented on #5
Thanks for the response.

I would certainly appreciate the ability to rename functions globally, even if it could lock up emacs during the process for large code bases, but I can diffidently see some people getting frustrated if they weren't expecting it. Perhaps display a message in the minibuffer when it runs that this may lock up emacs?

Keep up the good work.

[2015-03-11 17:53] tuhdo commented on #5
Actually, you can already do that with stock Semantic for mass references. What you need to setup:

- Enable `semanticdb-minor-mode` and GNU Global integration for Semantic:

[code]

- Install GNU Global.
- From your project root, run `gtags` to create a tag database.
- Then, run `semantic-symref` (bound to <kbd>C-c , G</kbd>.
- If you project is not too large, or the gathering symbol is not used

[2015-03-11 21:17] MatthewBregg commented on #5
Thank you for the excellent guide.
I played around with it a bit and it seems like a fairly nice way to rename functions in a project.
Thanks!

[2015-03-12 07:24] #5 closed

[2015-03-12 07:24] tuhdo commented on #5
I fixed it. Please try again.

[2015-03-12 07:50] MatthewBregg commented on #5
Thanks, it works now!

[2015-03-22 15:52] andyque opened #6 "Add customization for "Generate Function Implementation""
Currently the "Generate Function Implementation" feature always generate a function with the following style:

[code]

But in our project, we are using this style:

[code]

I haven't found any customization in srefactor,  how could I hack this behavior?

Thanks for providing this awesome package. :)

[2015-03-22 16:07] andyque opened #7 "[enhancement] How to customize the getters and setters rules?"
In my class, I have defined the following members:

[code]

Now in srefactor, it will always generate the following getters and setters:

[code]

It's really nice, but I do want to do some customizations.

1. I want to change action to "other file" like "generate function implementation". I don't want to just inline these functions.

2. I want to customize the function signature.
Now we could cust

[2015-03-22 16:19] tuhdo commented on #6
I intended to add styles to generated code at first since it is easy to do when we have access to an abstract syntax tree. But then I thought that it would be trivial to use Emacs's editing capacity to change it i.e. you can use a macro to change the generated code, so other features have higher priority. You may also consider using [astyle](http://astyle.sourceforge.net/astyle.html) and its [Emac

[2015-03-22 16:20] tuhdo commented on #6
Thanks :)

[2015-03-22 16:25] andyque commented on #6
@tuhdo
Thanks, I will try *astyle*.

[2015-03-22 16:27] tuhdo commented on #7
Sure it could be added.

Do you mean something like "GetAge()" or "SetAge()" even when the member variable is `_age`? Surely it can be done but a user must be aware that any underscore will be stripped in variable names when a getter/setter is generated.

[2015-03-22 16:41] andyque commented on #7
What I want is something like "prefix" + "regular expressions" + "variable name".

- The prefix is the original "srefactor--getter-prefix".
- The "regular expressions" is something like "[_|m_]".

For example:

If I define a variable like this:

[code]

We could provide a regular expressions like "_" or "m_n", the regular expression  will matches the prefix of a member variable and the matching pa

[2015-03-22 16:46] tuhdo commented on #7
Ok sounds good to me. Will implement, thanks.

[2015-03-25 07:00] tuhdo commented on #7
@andyque I implemented the features you request. Please give it a try.

[2015-03-29 17:01] #7 closed

[2015-03-29 17:02] #6 closed

[2015-04-09 07:51] tsdh opened #8 "Clojure formatting problems with `srefactor-lisp-format-buffer`"
Hi @tuhdo,

because of your posts on the Clojure and Emacs mailinglists accompanied by the nice demo gifs, I had to give `srefactor-lisp-format-buffer` a try (version 20150408.2109 from MELPA).  While it seems to be really good for initially formatting a completely unformatted buffer, it introduces several formatting issues when being applied to a buffer which is already formatted perfectly accord

[2015-04-09 07:58] tuhdo commented on #8
Thanks for the detailed report. Could you give the sample file above?

[2015-04-09 08:06] tuhdo commented on #8
I've fixed the indenting and `indent-tab-mode` issues. Please check again when it's ready on MELPA (or you can just copy the file from there and eval again).

[2015-04-09 08:25] tsdh commented on #8
Hi @tuhdo,

the file I used for testing is https://github.com/jgralab/funnyqt/blob/master/src/funnyqt/in_place.clj.  I use `aggressive-indent-mode` so all files in that project should be indented exactly as `clojure-mode` does it (with the exception of custom macros where I have some `define-clojure-indent` configs in my `~/.emacs`).

I've tested the latest version, and the `indent-tabs-mode` comm

[2015-04-09 08:56] tuhdo commented on #8
Meanwhile waiting for it to be fixed, you can use `srefactor-lisp-format-sexp` to format current sexp at point when there is a `let` in your function body.

[2015-04-09 12:40] tuhdo commented on #8
These are solved so far:

[code]

[code]

[code]
[code]
[code]

It works well enough for Emacs Lisp, Common Lisp and Scheme. Clojure syntax is more complicated though so it's more difficult to handle. But good nevertheless, since if it can handle Clojure code it should handle Lisps fine. The most difficult one is the `let`, I will leave it last.

[2015-04-09 13:20] tsdh commented on #8
Good progress so far.  I guess the main problem with Clojure is that its binding forms (`let`, `binding`) pair the variables and expressions without explicitly wrapping them in parenthesis, right?

[2015-04-09 14:46] tuhdo commented on #8
That's right. To solve this problem, I will add another custom variable, each element is a list of a head symbol (ilke `let`), the position of sexp inside the sexp of the head symbol to be specially formatted, and a formatter function for that particular sexp instead of current generic sexp formatter.

[2015-04-09 16:57] tuhdo commented on #8
Now these are solved:

[code]
[code]

The above erroneous case of `catch` above is easy to handle. All you need to do is add it to the skip symbol list like in this commit: https://github.com/tuhdo/semantic-refactor/commit/7e235f748267809abd1f958f943d7eafdeb248df. `2` means that Srefactor skipos two symbols to the right of the head symbols before it inserts a newline. If you have more cases like t

[2015-04-09 17:37] tuhdo commented on #8
Now only the `let` and the handling of closing `}` left.

[2015-04-10 05:11] tuhdo commented on #8
@tsdh what is this called in Clojure?

[code]

[2015-04-10 11:12] tsdh commented on #8
Tu Do <notifications@github.com> writes:

It's a map literal, i.e., a hash-map where the keys are 1, 3, 5, and 7
and the associated values are 2, 4, 6, and 8.

[2015-04-11 08:20] tuhdo commented on #8
@tsdh the trailing bracket:

[code]

 is solved. Now only the `let` formatting left.

[2015-04-11 13:58] tsdh commented on #8
:+1:

[2015-04-16 12:13] tuhdo commented on #8
The formatting is getting better over the past week. However, to implement this last case, it will take a while because now I don't have much time anymore. In addition, I want to make it right: instead of manually hard coded the form of sexp, I let user define and customize it like this, for example, the `let` form:

[code]

which means that the second sexp of the form `let` will insert a newline

[2015-04-16 12:31] tsdh commented on #8
That looks like a good idea.  (I don't get why there should be a ":" in a let-binding form, though.)

And just to give you another challenge, this is also a valid let-form:

[code]

Any form in clojure can be "commented out" by prefixing it with `#_`.  So such forms have to be completely ignored when inserting a newline every two sexps.  However, such a `#_sexp` form may be arbitrarily complex and

[2015-04-16 13:48] tuhdo commented on #8
So that it looks like keyword arguments and it's easier to quickly separate keywords and value with a glimpse.

And thanks for the input.

[2015-04-16 19:28] tsdh commented on #8
@tuhdo Sorry, I still don't get it.  In a clojure `let` binding-vector there cannot be any colons to which one could align.  The value forms can contain colons, of course, but I don't see why those would provide a sensible point for alignment.

Can you simply provide a clojure code snippet showing what you have in mind?

[2015-04-17 03:06] tuhdo commented on #8
@tsdh the template is not the actual code but formatting spec for a specific sexp in the form. Let's look at this again:

[code]

The form `[:newline-gap 2 :align-regexp ":"]` you are seeing is not actual Clojure form but merely a format specification to tell Srefactor to apply such formatting to the second form after the `let` keyword. `:newline-gap 2` means that for every 2 sexp in that form, a

[2015-04-17 05:11] tsdh commented on #8
@tuhdo Yes, I understand that this is a template for srefactor and no clojure form.  What I'm asking for is a sample clojure `let`-form where the `:align-regexp ":"` would have an effect (and what the effect would be). ;-)

[2015-04-17 06:36] tuhdo commented on #8
Ah I see. Proper example should be:

[code]

[2015-04-17 08:05] tsdh commented on #8
@tuhdo Hehe, you still didn't get me.  The above template says that the `:require` form of a clojure `ns` form should be aligned at `:`.  So I guess I get an indentation like

[code]

so the `:as` keywords are aligned.  That's very cool!

BUT: you also specified `:align-regexp ":"` in the template for the clojure `let` form.  But in a `let` form there is usually no point in aligning at a `:`.  Usu

[2015-04-23 16:55] tuhdo opened #9 "Fix issue with function signature generation"
After some refactoring function like this can't be generated anymore:

[code]

`std::string` is omitted, which was working in previous release.

[2015-04-23 18:09] tuhdo commented on #9
@mijoharas this issue is fixed. Thank you very much for reporting.

[2015-04-23 18:09] #9 closed

[2015-04-23 18:27] tuhdo opened #10 "Add keybindings to navigate tags of the same level in the tag tree"
Use `N` and `P` to jump to siblings of the same indentation level, not deeper.

[2015-04-24 09:25] mijoharas commented on #9
brilliant, :+1: @tuhdo. Thanks!

[2015-04-24 13:06] mijoharas commented on #9
just tried it out, works great!

[2015-05-15 13:03] mijoharas opened #11 "c++ pointer types appear not to be moved."
example is easiest to demonstrate:
`example.h`
[code]
if we try and generate function implementation in this file:

`example.cpp`
[code]

We get:
[code]

which has the problem that it should be `Tag*`. Another thing that is not a problem, but I thought didn't need to happen was the `name1::name2` as we are already inside the scope of those namespaces within our `.cpp` file.

[2015-05-15 13:07] mijoharas commented on #11
I just tested and it looks like you do handle references, just with a space, so

[code]

becomes:
[code]

[2015-05-15 13:18] tuhdo commented on #11
Thanks for the report. I will get into it soon.

[2015-05-18 09:16] #11 closed

[2015-05-18 09:16] tuhdo commented on #11
@mijoharas It is fixed. Once again thanks for you report.

[2015-05-18 10:31] mijoharas commented on #11
Thanks @tuhdo :+1:

[2015-06-12 02:53] autosquid opened #12 "probably evil normal state overrides its key bindings"
![image](https://cloud.githubusercontent.com/assets/758925/8122732/088de3e8-10f1-11e5-8501-e17e5f1db969.png)

1. in mini-buffer, moving to 2, and press 2 works as expected
2. in mini-buffer, moving to 1, and press 2 works as if 1 is pressed.

[2015-07-17 17:41] #12 closed

[2015-07-17 17:42] tuhdo commented on #12
So, I fixed this issue by enabling `evil-emacs-state`, so the default key bindings can work normally. You can use Emacs state, since `j` and `k` is supported in the state already.

A bit late but better than none. Thank for reporting. Now Refactor is also much faster. That is, instead of parsing everything included and block Emacs, now it truly works locally for local operations.

[2015-07-24 19:04] hhirsch opened #13 "srefactor-refactor-at-point Error when creating menu."
When I call srefactor-refactor-at-point I only get: Error when creating menu.

[2015-07-25 06:46] tuhdo commented on #13
Thanks for the report. Could you tell me how to reproduce the bug? And what's your Emacs version?

[2015-07-25 07:24] hhirsch commented on #13
My srefactor is the one that came with emacs 20150717.1039 and my emacs version is 24.4.50.2 (i686-pc-linux-gnu, GTK+ Version 3.4.2) of 2014-08-29

[2015-07-25 12:32] tuhdo commented on #13
Do ypu a code sample and where should i move point on that sample?

[2015-07-25 21:14] hhirsch commented on #13
This file: https://github.com/GlPortal/glPortal/blob/master/source/Portal.cpp

Any line, any position.

[2015-07-26 11:54] #13 closed

[2015-07-26 11:55] tuhdo commented on #13
I fixed this problem. The issue is there's a check whether `evil-mode` is active but without checking `evil-mode` exists at first.

Thanks again.

[2015-07-26 12:04] hhirsch commented on #13
Cool. Will the updated version in melpa any time soon?

[2015-07-26 12:29] tuhdo commented on #13
Yes. You just need to wait for it to update the list. It should be about an hour.

[2015-07-26 15:59] hhirsch commented on #13
Thank you for fixing. I can confirm that everything works fine now.

[2015-11-30 16:44] avatar29A opened #14 "Installation error"
Hi. I tried to install plugin on Emacs 24.5 under Windows 10 and I got error

srefactor.el:102:1:Error: Cannot open load file: no such file or directory, srefactor-ui

Can you help me? Thanks.

[2015-11-30 17:59] avatar29A commented on #14
I downloaded srefator-ue.el from repository and put into emacs.d near srefactor.el. It's help me.

I don't know why this file not download from elpa repository.

[2015-12-01 02:28] tuhdo commented on #14
It's strange. Was you installing from [MELPA](https://melpa.org/)? It should work if the package is installed from there. Maybe just a bad installation; you should try again.

[2015-12-01 04:02] avatar29A commented on #14
I  looked now. Actually i installed package from n/a repository. I should was click to other version and setup it.

![image](https://cloud.githubusercontent.com/assets/1295709/11492067/f5f1b23c-9809-11e5-9b2b-681404452d67.png)

[2015-12-01 04:03] #14 closed

[2015-12-02 22:57] cconnett opened #15 "Lisp: Cons literals losing space before the dot"
Cons literals that get reformatted on a new line are losing the space before the dot. This is causing them to no longer be cons literals and instead become lists with an unexpected in the second symbol.

    (append '(("a" .c++-mode)
              (b .2))
            a)

[2015-12-03 03:07] tuhdo commented on #15
Thanks for the report. I will look into it soon.

[2015-12-03 04:05] #15 closed

[2015-12-03 04:06] tuhdo commented on #15
The bug was fixed. Please report if you find more. Thanks again.

[2015-12-03 05:03] cconnett commented on #15
Thanks for the speedy fix!

[2016-01-27 12:27] ordian opened #16 "Required feature `srefactor' was not provided"
Hi @tuhdo,

Thanks for your package!
Currently, I'm using [prelude](https://github.com/bbatsov/prelude), and
with this code in my ~/.emacs.d/personal/init.el
[code]
, I'm getting the error, mentioned in the title.
However,
[code]
produces the same error, while other packages (e.g. projectile) load and work fine.
[\*Backtrace\*](https://gist.github.com/ordian/7513e6e27e0a54f01a59)
[code]
srefactor

[2016-01-27 13:12] ordian commented on #16
For some reason, reinstallation helped!

[2016-01-27 13:12] #16 closed

[2016-03-01 09:34] seanirby opened #18 "Little bug when formatting elisp"
Hey @tuhdo

Thanks for this package.

I'm generating some lisp code programmatically and I need to format it with your tool after I insert it into a buffer.  Works great except for this little bug.  Not a big deal for me at all, just thought I would let you know:

## starting input
[code]

## expected output
[code]

## actual output after executing ```srefactor-lisp-format-sexp``` at beginning of

[2016-03-01 09:42] tuhdo commented on #18
Thanks. I will look into it soon.

[2016-03-07 06:05] Spauldo opened #20 "Generated functions start immediately after close brackets"
When i generate function implementation in the other file, each function begins immediately after the close bracket of the previous function.  For example:

[code]

I'm on Emacs 24.5 on Kubuntu 15.10.  I installed semantic-refactor tonight, and installed CEDET about a month ago, both via el-get.  I have various other packages as well, including company.

As an aside, is there any way to get it to

[2016-03-07 07:07] tuhdo commented on #20
Thanks for the report, I will fix it. As for the style formatting, I don't plan to do it as there are existing formatting tools already, and one of them `clang-format` is already integrated with Emacs.

[2016-03-07 08:18] #20 closed

[2016-03-07 08:19] tuhdo commented on #20
I fixed it. Thanks again.

[2016-03-17 11:03] Spauldo commented on #20
Sorry it took so long to test.

I've verified it works now.  Thanks, man!

[2016-04-20 06:52] mssun opened #21 "Key bindings for menu are invalid"
I can't use number key bindings to select options inside menu. This issue can be reproduced by following instructions:

1. `srefactor-refactor-at-point` to open *Srefactor Menu* buffer, it shows several actions which you execute by press 1-9 keys or click on it.
2. press any number keys will only execute the first action

I did read sources of semantic-refactor and found this code to define key bi

[2016-04-20 07:00] tuhdo commented on #21
Thanks for the report. I will fix it soon.

[2016-04-20 07:35] #21 closed

[2016-04-20 07:35] tuhdo commented on #21
I fixed it. Thanks again.

[2016-04-21 10:21] kiipa opened #22 "Problem with formatting setq and setq-default"
I'm not sure how to describe this in words, so I'll just show my problem.

### Original code
    (setq-default some-variable-with-long-name t
    			      some-other-variable
                  nil
    			  some-variable 3)

    (setq abc-variable nil
              def-variable t)

### Expected result after `srefactor-lisp-format-buffer`

    (setq-default some-variable-with-long-name t

[2016-04-21 10:45] tuhdo commented on #22
Thanks for the report. I will look into it soon.

[2016-05-11 19:30] Loenl3 opened #23 "[feature request] 'Other window' option for generating function impl/prototype"
I usually open source/header files side by side. would be great to have this option.

[2016-07-04 04:10] ajdlinux opened #24 ""Cannot open load file, no such file or directory, srefactor""
Installed srefactor via MELPA on emacs 24.4.1 for Debian - after I follow the instructions to add appropriate options to my .emacs, I get the following on startup:

[code]

Any ideas?

[2016-07-04 04:12] tuhdo commented on #24
It cannot find `srefactor`. Maybe you could move the content of your `.emacs` into `~/.emacs.d/init.el` and try again.

[2016-07-04 04:17] ajdlinux commented on #24
Hmm, I'm still getting the same issue. I've reinstalled from MELPA, and I'm also running emacs 24.5.1.1 now.

[code]

[2016-07-04 04:37] tuhdo commented on #24
Do other installed packages load fine? Have you put this line:

[code]

before loading srefactor?

[2016-07-04 04:42] ajdlinux commented on #24
That was it - I was missing `(package-initialize)`. I'm discovering that emacs package management is unfortunately a bit complex :( It might be useful to document this in the readme for the sake of other emacs noobs like myself?

[2016-08-19 03:54] agauniyal commented on #24
Hi, I'm facing same error as above, but I already have `(package-initialize)` in my conf.

Here's the debug info -

[code]

[2016-09-05 13:17] nxty2011 opened #25 "Generate Getters and Setter works fine, Generate Function Implementation goes wrong/"
Hello, thank u for your nice work. I encounter a problem when I tried to get through your demos at "Generate Function Implementation" step.

I opened a class header file buffer, declared the prototype, and type the command "SPS m r" in the class body. In the popup mini-buffer, I selected the number 3, which is generating function implementation function. After typing "3", no implementation code wa

[2016-09-05 14:00] tuhdo commented on #25
Hello,

Could you give me more details?

1. Are you in a Projectile-aware project, e.g. Git?
2. Is the corresponding source file in the same directory?
3. Could you give me a minimum sample code to reproduce?

Thanks.

[2016-09-06 02:59] nxty2011 commented on #25
OK, thank u for your quickly reply.

1. I used .projectile instead.
2. The source file and header file are in the same directory.
3. Sample code in the header file(number_string.h).
[code]
Sample source file(number_string.cc)
[code]

More details could be provided if you need.

[2016-09-06 08:35] tuhdo commented on #25
I still cannot reproduce. I used `.c` file. Maybe you should change into `.cpp`, as the other file selection is based on Projectile's. In this case, Projectile has no other file switch for `.cc` file. Regardless, it should put you into a `.c` file if no valid other file was found, not a Dired buffer.

Could you turn on `M-x toggle-debug-on-error`?

Note that if you generate a function in `c-mode`,

[2016-09-06 09:08] nxty2011 commented on #25
Ah, yes! It is the suffix that causes the problem. I change the source file name into a name ending with `.cpp`, then **semantic** works!

I guess **Generate Function Implementation** could only recognize a source file end with `.cpp` rather than `.cc,` then it would try to open a `.cpp` source file in the directory, which does not exit. It open a **dired** buffer instead.

Thank your for your ana

[2016-09-06 09:40] #25 closed

[2016-09-08 10:09] zyfyy opened #26 "slow dwon the spacemacs"
I turn off the semantic layer, then every thing goes smoothly.
But when I jump over a big source file many times using gtags, the spacemacs just slow down and very hard to use, every command just wait for a moment to execute.

So I just thought it would 'slow down spacemacs when jumped over a big source file many times'.

Any Suggest ? :-)

[2016-09-20 23:29] tomkulaga opened #27 "Add function prototype creation to unknown functions"
for example:

void BarClass::fooFunc()
{
    int result = bazFunc();
}

with the mouse above bazFunc() it would allow me to create either a free function or a member fuction in BarCalss

[2016-09-21 05:07] tuhdo commented on #27
Thanks for the suggestion. It's doable. I will add the feature soon.

[2016-09-21 05:10] tuhdo commented on #26
Sorry for the long delay. The reason it is slow because Semantic triggers the parsing on your source tree, thus block Emacs. This is known issue from Semantic. Maybe if your project is not too large, you can have a cup of morning coffee, and come back like nothing have happened.

[2016-09-21 05:10] tuhdo commented on #24
You need to add the line `(require 'srefactor)`. Sorry for the long delay.

[2016-09-21 22:47] tomkulaga commented on #27
Thanks. No problem :)

[2016-09-24 16:26] aborn commented on #26
It make emacs25 slow and block.....

[2016-09-24 16:31] tuhdo commented on #26
Yes, that's how semantic works. I tried to limit the parsing scope to a file, but sometimes it goes on and parse the whole project whenever it finds included files. I will try to fix this, but in many cases the whole project parsing is not triggered.

[2016-09-25 01:02] aborn commented on #26
Especially when editing elisp file.

[2016-10-07 19:21] rhymer opened #29 "srefactor--extract-region complains about wrong number of arguments"
To reproduce:
1. Select a region of C++ code.
2. `M-x srefactor--extract-region`
In the echo region it says:

OS: OpenSUSE 11
Emacs: 24.5.1
Using spacemacs 0.105.22 with c-c++ layer.

Did I miss something? Thanks.

[2016-10-07 19:50] tuhdo commented on #29
Do you have a sample code? Did you get the error on an unsaved buffer or a file? Thanks.

[2016-10-07 22:07] rhymer commented on #29
I tried both saved file and unsaved buffer. The example I used is [Simple C++ examples](http://www.inference.phy.cam.ac.uk/teaching/comput/C++/examples/RandDemo6.shtml).
1. select the for loop under `// Perform N experiments.`
2. `M-x srefactor--extract-region` produces the same error.
I also tried to use `emacs -Q` and loaded `srefactor` afterwards. Same error message.

[2016-10-08 09:06] tuhdo commented on #29
@rhymer I fixed it. You shouldn't use `srefactor--extract-region`, as it is supposed to be used internally by other functions in `srefactor`. I removed the interactive use of it. The only command you should be using is `srefactor-refactor-at-point`, and upon analyzing, it gives you a list of possible choices. I believe Spacemacs has a key binding for it, which should be `SPC r`.

[2016-10-08 09:13] tuhdo commented on #29
Here is the demo:

![test_srefactor](https://cloud.githubusercontent.com/assets/4818719/19211935/24caf5c4-8d72-11e6-89df-79384aae7cc3.gif)

[2016-10-08 09:26] tuhdo commented on #29
Nevertheless, I found a bug in Semantic. That is, in your example code contains a macro with a partial comment:

[code]

You should delete the `/*` at the end, otherwise Semantic is confused and thinks that is an opening comment for the `main` function, thus got analyzing all wrong.

[2016-10-09 20:34] rhymer commented on #29
@tuhdo It works like a charm! Didn't realized that I was using the wrong function. BTW I am a big fan of your tutorials! Thanks for sharing!

[2016-10-09 20:34] #29 closed

[2016-10-11 05:56] NikolayBobovnikov opened #30 "Missing const qualifier when generating const function implementation"
When declaring const member function, like this:

class A {
...
void foo() const;
};

and doing "Generate function implementation (other file)", function generates without const qualifier, like so:

void A::foo() {
}

Expected result:

void A::foo() const {
}

[2016-11-08 22:08] Curiosidad-Racional opened #31 "No insert class name inside namespaces"
--- foo.hpp
[code]
--- foo.cpp
[code]

M-x srefactor-refactor-at-point

--- foo.cpp
[code]

missing Test:: preceding Test()

Thanks

[2016-11-09 08:53] tuhdo commented on #31
I push a fix. Please try it again.

Thanks for the report.

[2016-11-09 09:24] #30 closed

[2016-11-09 09:25] tuhdo commented on #30
Sorry for the long delay. I've just fixed it.

Thank you for the report.

[2016-11-09 09:43] Curiosidad-Racional commented on #31
Thank you for your prompt reply. The fix works but:

--- foo.hpp
[code]

M-x srefactor-refactor-at-point and select insert Inside namespace one.

--- foo.cpp
[code]

mising two:: preceding Test::Test()

I hope this can help you:

[code]

[2016-11-09 09:47] tuhdo commented on #31
I am ignoring namespace parent at the moment, as currently srefactor tries to retrieve all upper parents of a tag. As a result, when generating a function definition, srefactor inserts all namespaces as part of the prefix of a tag, even though the tag is already inside such namespaces. I will fix this later.

[2016-11-09 14:41] tuhdo commented on #31
I fixed the issue. Please have a look again.

[2016-11-09 14:55] Curiosidad-Racional commented on #31
It works fine. Thanks very much.

[2016-11-09 15:32] #31 closed

[2016-11-11 20:28] NikolayBobovnikov commented on #30
Great! Thanks :+1:

[2016-11-15 06:09] tuhdo commented on #26
@aborn I found a solution. That is, limit Semantic to parse at file scope only, so it will never hang Emacs as file is fast enough to parse instantly (mostly):

[code]

[2016-11-15 06:09] #26 closed

[2016-11-15 06:36] #24 closed

[2016-11-15 16:46] kureta opened #33 "No indentation when called from emacs --script"
Exact same code behaves differently when run in interactive mode vs. as a script. Inside Emacs it works as intended but when run as a script it inserts newlines as expected but does not indent lines at all. All lines start at the first column.

This is the file I run from inside Emacs using `eval-buffer`

[code]

And this is the emacs script file

[code]

[2016-11-15 16:56] kureta commented on #33
Also commandline version is impossibly faster compared to the interactive version. That might be a clue. Maybe I have to require a few other packages.

[2016-11-15 18:11] tuhdo commented on #33
Thanks for the report. I'll look into it.

[2016-11-16 21:26] danyloM opened #35 "Symbol's function definition is void..."
I have the following setup in `init.el`:
[code]

When I press `M-RET` on any variable in a C++ file, I get the following error:
[code]
In fact, during the installation from MELPA I get:
[code]
I'm running Linux Mint 18 MATE 64-bit and Emacs 24.5.1. What could be the problem?

[2016-11-17 01:39] tuhdo commented on #35
I pushed a fix. Could you please try it again? Thanks.

[2016-11-17 09:21] danyloM commented on #35
Great, it works now. Thanks for the fast response! FYI, here is the output I got when installing the fixed version from MELPA:
[code]

[2016-11-17 09:45] danyloM opened #36 "No rename option for class members?"
When I place the cursor over a member function or variable of a C++ class (or even the class name, namespace name, etc.) and press `M-RET`, I get the following popup:
[code]
There is no option to rename the member function/variable/class name/namespace name. I only get the option `Rename local variable (Current file)` for variables defined locally within function definitions. My questions are:

*

[2016-11-17 10:26] tuhdo commented on #36
Currently, only local variable rename is available. To rename anything outside of that e.g. a function name, it is required to update the whole project. However, the Semantic parser is written in Emacs Lisp, and Emacs Lisp blocks when Semantic parses large project (that is, you must wait for Semantic to finish).

For globally rename _correctly_, types must be taken into account. Grep style renamin

[2016-11-17 11:25] danyloM commented on #36
I see, that's too bad. I would have guessed variable renaming is one of the most widely used refactoring methods? Perhaps something like irony-refactor could be made in the future to have it non-blocking. Rtags does indeed seem to have quite an invasive installation.

[2016-11-17 11:25] #36 closed

[2016-11-17 11:25] #35 closed

[2016-11-19 07:33] tuhdo commented on #36
I intend to write a tag parser based on GCC that can retrieve tag information for Emacs to use, so we won't need Semantic to parse; Semantic only needs to use that tag database. Only when we have a parser that uses the infrastructure of a compiler (e.g. similar to how people are creating tools with Clang), we can perform globally refactoring. But maybe I will start working on it next year. Now is

[2016-11-19 10:20] danyloM commented on #36
Ok, good to hear that there are at least plans.

[2016-11-20 10:39] tuhdo commented on #27
Well, actually it is done already. You should see the choice `Generate Function Prototype (Other file)` and it will allow you to switch to the file with `BarClass`, then select where to place it. If you want to generate a free function, put it outside `BarClass`, otherwise inside.

[2016-11-20 10:39] #27 closed

[2016-11-20 10:45] tuhdo commented on #33
The problem is that your files were opened not in `emacs-lisp-mode`  but in `fundamental-mode`. Set Emacs Lisp mode: `(emacs-lisp-mode)` before `find-file file)` and it should work properly.

[2016-11-20 10:45] #33 closed

[2017-02-08 20:31] hyOzd opened #37 "no class name when generating member function implementation"
When I try to create function implementation from a C++ member function, class name is ignored if I select a target position. Here is how it happens:

* I move cursor over my member function declaration, trigger srefactor, select option "Generate Function Implementation"
* srefactor switches to my .cpp file, lists other members
  * if I don't make any selection (first include is automatically sele

[2017-02-23 06:11] sukeyisme commented on #37
me too

[2017-02-23 10:35] sukeyisme commented on #37
[https://github.com/tuhdo/semantic-refactor/blob/master/srefactor.el#L847](url) i remove this line ,everything right. but i don't know why.

[2017-02-23 10:43] sukeyisme commented on #37
https://github.com/tuhdo/semantic-refactor/blob/master/srefactor.el#L847

[2017-02-23 13:42] #37 closed

[2017-02-23 13:44] tuhdo commented on #37
I pushed a fix that replaced a better check for parent string insertion. Previously, the check was made for fixing issue #31.

During your report, I was busy releasing my new book: [Oprating System: From 0 to 1](https://tuhdo.github.io/os01/), so I could not get to fix this bug. Sorry for the delay.

[2017-03-29 12:13] UndeadKernel opened #38 "Generated function implementations misrepresent "const char*" function parameters."
Say I have the class CMyClass, in a heder file that defines the following function:
    `void myFunction(const char* first_string, const char* second_string);`

If I ask to "Generate Function Implementation", the following function will be generated:
    `void CMyClass::myFunction(char first_string, char second_string) { }`

Notice that the string parameters were not passed as expected.

[2017-03-29 14:37] tuhdo commented on #38
Thanks for the report. I will fix it soon.

[2017-05-14 18:55] dpathakj opened #39 "c++: variable scope problems with 'rename'"
In the following code, when I put the cursor on the first occurrence of `i` (the declaration) and ask for a rename, only the declaration is renamed - not the other occurrences of i (in `i < 3`, `i++`, `cout << i`, etc.).

    for (int i = 0; i < 3; i++) {
      cout << i;
    }

If I declare 'i' externally, then there are still scoping issues.

    for (int i = 0; i < 3; i++) { // incorrectly rena

[2017-05-23 02:19] tddsg opened #40 "How to renaming functions, classes?"
Hi,

I'm starting to use Emacs to write C++ code and find that your package offers cool refactoring features.
However, I'd like to ask if it is possible to rename classes, functions?
(Only local variables renaming is mentioned in your package's introduction)

Thanks!

[2018-04-20 12:32] LucaMarconato opened #41 "Error when creating menu when doing srefactor-refactor-at-point"
I get the error message "Error when creating menu" when doing `srefactor-refactor-at-point` in a C++ file, at any point.

The issue is the same as this one https://github.com/tuhdo/semantic-refactor/issues/13
I have `evil-mode` installed but it is not activated, could it be the cause of the problem?

These are the minor modes that are currently enabled:

`
Enabled minor modes:
Abbrev
Auto-Complete

[2018-04-20 12:38] LucaMarconato commented on #41
I tried disabling the minor ode from Global-subword to the end, except semantic (I have not tried yet the ones up to Global-subword). Nothing changes.
I will try with a vanilla emacs.

[2018-06-27 15:43] whatacold opened #42 "wrong-type-argument when `srefactor-refactor-at-point`"
Hi,

What this package provides is what I desired for some time, it's awesome, thanks for this packages.

So I give it a shot today, but it throws a `wrong-type-argument` error :(, the backtrace is:

    Debugger entered--Lisp error: (wrong-type-argument stringp nil)
      srefactor--tag-name(("Foo" function (:prototype-flag t :destructor-flag t :typemodifiers ("virtual") :type "void") (reparse-sy

[2018-07-03 15:27] whatacold commented on #42
Hi tuhdo,

I've fixed this in pr #43

[2018-07-03 18:10] #10 closed

[2018-07-04 00:07] #42 closed

[2018-09-02 19:33] consciencia commented on #40
Mass renaming is possible with Semantic, only issue is speed of elisp, so no, its not implemented, but can be with some effort (and gods by your side).

[2018-09-27 15:46] matthew-piziak commented on #18
Same here. It doesn't appear to handle property lists well.
[code]

[2018-09-27 15:46] matthew-piziak commented on #18
At minimum it should not glue together multiline expressions without line breaks between them.

[2018-09-27 15:47] matthew-piziak commented on #18
If I change my style and use `progn` it's okay, but this should not be required.
[code]

[2018-10-19 06:03] siliconvoodoo opened #45 "[MELPA] doesn't appear in the list"
I have this emacs: `GNU Emacs 25.1.1 (x86_64-w64-mingw32)`
and I ran `package-refresh-contents`
but still...
![image](https://user-images.githubusercontent.com/25970839/47200203-18e27800-d3b0-11e8-8593-e9e7c61ef7e8.png)
aaaah nooooo

[2018-10-25 11:30] NetWilliam opened #46 "Can this apply to non-emacs usage?"
could it be invoked inside of vim?

[2018-10-25 15:30] hlambda commented on #36
@tuhdo What's the status of the implementation?

(I'm currently learning elisp and would be interesting in working on a small project. I might be interested in collaborating in this feature.)

[2018-10-26 19:17] tuhdo commented on #46
No sorry.

[2018-10-26 19:17] #46 closed

[2018-10-26 19:18] tuhdo commented on #45
Ah too bad then. I will need to resubmit when I have time. Thanks for the notification.

[2018-11-10 12:46] japanoise opened #47 "Semicolons in code messes up srefactor"
This sexp contains a syntax table with the perfectly cromulent symbol `?\;` :

[code]

Running srefactor-lisp-format-sexp on it produces this bogus output:

[code]

Judging by the line it cut off, it's having trouble differentiating between `?\;` and a comment, or some other use of the semicolon.

[2018-11-29 10:17] ipa-mtb opened #49 "Extracted function takes variables as parameters which are defined in the function"
For a similar example as in the demo
[code]
If the region marked with `// |` is selected and the function is extracted the following correct function is generated:
[code]
However when I want to extract the inner function (marked with `// \`) I get
[code]
which includes `bar` as a parameter although it is defined in the function body.

[2018-12-18 18:00] DougBeney opened #50 "Implementing templates with pointers removes pointer"
Let's say this is your class:

[code]

When you implement that children function with srefactor it will look like this:

[code]

I also personally think that there shouldn't be any placeholder information put in between the curly brackets but I am curious what others think about that.

[2019-01-17 02:16] zhihuiFan opened #51 "would srefactor support rtags as an option?"
rtags is based on clang and it is very powerful, it would be great that srefactor can support rtags.  so if user use rtags, it will not need to have 2 system in running for tags.   so I would like to know if it is possible or in plan?

[2019-02-27 10:03] allentiak commented on #8
Hi, @tuhdo ,

I guess the best would be for the behavior to be based on the [clojure style guide] (https://github.com/bbatsov/clojure-style-guide).

Best,
Leandro

[2019-04-13 13:40] lane-s opened #52 "Don't generate function implementation if already implemented"
In my opinion, the 'Generate Function Implementations' feature would be more useful if it skipped generating functions that are already implemented.

The workflow I'm imagining is this:
You write your header and generate initial implementations.
After doing some implementation, you realize you need a few more functions.
You go back to the header file and add the prototypes (I prefer doing it this

[2019-12-20 22:13] appetrosyan commented on #13
Need to reopen. Fresh install on Mac OS X. Installed it via use-package. Same error message.

[2019-12-21 06:54] hhirsch commented on #13
@appetrosyan Sounds like your srefactor version is outdated, you can get the newest one from melpa.

[2019-12-21 08:58] appetrosyan commented on #13
Did just that, latest version on melpa is 20180703.1810, which looks to be outdated. I'll try installing from GitHub and see if that fixes the issue.

[2019-12-21 11:09] hhirsch commented on #13
A Version from 2018 should have the fix. I am confused. @tuhdo Any idea?

[2019-12-22 15:28] appetrosyan commented on #13
I installed the latest version, the fix doesn't work. My opinion is that something else prevents the menu from loading, and it might be completely unrelated to the previous issue, except the error message is the same.

[2020-01-18 16:29] firmart commented on #45
Please edit the README, it would help people.

[2020-05-02 06:51] billop commented on #18
Tried out your snippet and now I have lines over 200 characters long due to my extensive use of `use-package` configs.

[2020-11-24 16:58] nagyation opened #54 "Can it generate implementation of all prototypes from header and vice versa over C?"
It doesn't give option to generate from all prototypes/implementations, I don't know if it's already supported or it's missing for C, because I already see in the Demo that it's working with classes over C++

[2020-12-30 19:10] zabbal opened #55 "License clarification"
What's the license for code in this repo?

[2020-12-31 15:36] bard commented on #18
A long shot after almost five years, but... did anybody find a workaround?

[2020-12-31 15:59] matthew-piziak commented on #18
@bard I just stopped using `srefactor`.

[2021-01-04 12:11] tuhdo commented on #55
It's GPL v3. Ì you want to take over the repo, feel free to fork it.

[2021-09-10 09:49] sd44 opened #56 "refactor template class is messy"
When I use srefactor-refactor-at-point on the class template to generate function impletion,it's always messy.
eg:
   testrefactor.h:

[code]

the result in testrefactor.cpp is:

[code]